<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Phone Number</th>
            <th>Age</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>Dachi</td>
            <td>592040022</td>
            <td>18</td>
        </tr>

        <tr>
            <td>Joe</td>
            <td>23452354235</td>
            <td>23</td>
        </tr>

        <tr *ngFor="let user of users">
            <td>{{user.name}}</td>
            <td>{{user.phoneNumber}}</td>
            <td>{{user.age}}</td>
        </tr>
    </tbody>
</table>