td,th,th{
    border: 1px solid black;
    padding: 3px;
}

table{
    margin-top: 50px;
    width: 300px;
    text-align: center;
}

#btn2{
    margin-top: 100px;
}

#loader{
    display: flex;
    position: absolute;
    background-color: white;
}